{% load static %}

<div class="author_sign text-center d-flex flex-column align-items-center">
    <figure class="profile_picture_container">
        <img class="profile_picture" src="{% static 'img/profile_picture_3.jpg' %}" alt="Profile picture">
    </figure>
    <small class="mb-2 author-sign-text">
        ¡Hola! Soy Facundo, el autor.<br>
        Sígueme en Twitter e Instagram :)
    </small>
    <div class="social_media">
        <a href="https://twitter.com/facmartoni" class="footer__social-icon" target="_blank">
            <i class="fab fa-twitter dark-text-color footer__twitter-icon"></i>
        </a>
        <a href="http://instagram.com/facmartoni" class="footer__social-icon" target="_blank">
            <i class="fab fa-instagram dark-text-color footer__instagram-icon"></i>
        </a>
    </div>
</div>