{# Static load #}
{% load static %}

<header class="black-bg-color d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <a href="{% url 'posts:home' %}">
            <img class="header__logo" src="{% static 'img/logo.png' %}" alt="Logo">
        </a>
        <div class="menu_button" id="menu_button">
            <div class="line white-bg-color"></div>
            <div class="line white-bg-color"></div>
            <div class="line white-bg-color"></div>
            <div class="line white-bg-color"></div>
        </div>
        <nav class="nav-big">
            <a href="{% url 'posts:home' %}" class="nav-big-item light-text-color">
                <h6 class="nav-item-text">Blog</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-big-item light-text-color">
                <h6 class="nav-big-item-text">Sobre mí</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-big-item light-text-color">
                <h6 class="nav-big-item-text">Portafolio</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-big-item light-text-color">
                <h6 class="nav-big-item-text">Habilidades</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-big-item nav-big-item-action light-text-color">
                <h6 class="nav-big-item-text">Contáctame</h6>
            </a>
        </nav>
    </div>
</header>

<nav class="black-bg-color nav" id='nav'>
    <div class="container h-100 d-flex flex-column justify-content-around align-items-center">
        <div class="d-flex flex-column align-items-center">
            <a href="{% url 'posts:home' %}" class="nav-item light-text-color">
                <h6 class="nav-item-text">Blog</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-item light-text-color">
                <h6 class="nav-item-text">Sobre mí</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-item light-text-color">
                <h6 class="nav-item-text">Portafolio</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-item light-text-color">
                <h6 class="nav-item-text">Habilidades</h6>
            </a>
            <a href="{% url 'wip' %}" class="nav-item light-text-color">
                <h6 class="nav-item-text">Contáctame</h6>
            </a>
        </div>
        <div>
            <a href="https://twitter.com/facmartoni" class="menu-icon" target="_blank">
                <i class="fab fa-twitter light-text-color"></i>
            </a>
            <a href="http://instagram.com/facmartoni" class="menu-icon" target="_blank">
                <i class="fab fa-instagram light-text-color"></i>
            </a>
            <a href="https://www.linkedin.com/in/facundo-garcia-martoni/" class="menu-icon" target="_blank">
                <i class="fab fa-linkedin light-text-color"></i>
            </a>
            <a href="https://github.com/facmartoni" class="menu-icon" target="_blank">
                <i class="fab fa-github light-text-color"></i>
            </a>
        </div>
    </div>
</nav>
