.featured_article_preview__container {
  height: 300px;
  width: 100vw;
  max-width: 1200px;
  position: relative;
}

.featured_article_preview__overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 5;
  position: absolute;
  transition: 0.3s;
}

.featured_article_preview__big-overlay {
  transition: 0.3s;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}

.featured_article_preview__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured_article_preview__body {
  z-index: 10;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
}

.featured_article_preview__big-text {
  transform: scale(1.05) translateY(-10px);
}

@media screen and (min-width: 576px) {
  .featured_article_preview__container {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .featured_article_preview__tags {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .featured_article_preview__container {
    height: 500px;
  }
}
