:root {
  /* Colors */

  --white-color: #f1f1f1;
  --black-color: #000000;
  --light-text-color: #ffffff;
  --dark-text-color: #292a2c;
  --action-color: #1b0357;
  --positive-color: #8a7d59;
  --negative-color: #801823;
  --twitter-color: #00acee;
  --instagram-color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  --linkedin-color: #0e76a8;
  --github-color: #6cc644;
}

/* Font colors */

.white-color {
  color: var(--white-color) !important;
}

.black-color {
  color: var(--black-color) !important;
}

.light-text-color {
  color: var(--light-text-color) !important;
}

.dark-text-color {
  color: var(--dark-text-color) !important;
}

.action-color {
  color: var(--action-color) !important;
}

.positive-color {
  color: var(--positive-color) !important;
}

.negative-color {
  color: var(--negative-color) !important;
}

/* Background colors */

.white-bg-color {
  background-color: var(--white-color) !important;
}

.black-bg-color {
  background-color: var(--black-color) !important;
}

.light-bg-text-color {
  background-color: var(--light-text-color) !important;
}

.dark-bg-text-color {
  background-color: var(--dark-text-color) !important;
}

.action-bg-color {
  background-color: var(--action-color) !important;
}

.positive-bg-color {
  background-color: var(--positive-color) !important;
}

.negative-bg-color {
  background-color: var(--negative-color) !important;
}

/* Fonts */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  margin: 0;
}

p,
a,
span,
small {
  font-family: "Cantarell", sans-serif;
  margin: 0;
}

/* Font sizes */

h1 {
  font-size: 36px;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

/* Miscellaneus */

.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--white-color);
  color: var(--black-color) !important;
}
